:root {
  --shadow-color: rgba(0, 0, 0, 0.182);
  --primary-color: #0e594a;
  --hover-color: #0e594a80;
  --accent-color: #fbba3f;
  --bg-color: #f0f0f0f5;
  --input-bg-color: #cedbe97c;
  --white-color: #ffffff;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  color: var(--primary-color);
}

.dashboard-wrapper {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #0e594a;
  color: white;
  width: 220px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 2rem;
  margin-bottom: 40px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.sidebar ul li.active,
.sidebar ul li:hover {
  background-color: #094136;
}

.dashboard-main {
  background-color: var(--white-color);
  padding: 25px;
  padding-bottom: 10px;
}

.BB {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
}

.dashboard-header {
  color: var(--primary-color);
  padding: 2px;
}

.dashboard-header input {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.profile-icon {
  margin-left: 10px;
  font-size: 1.5rem;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.credit-score-card {
  background-color: var(--white-color);
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.upcoming-card {
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 12px;
  border: 2px solid #fbba3f;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.transactions-card {
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 12px;
  border: 2px solid #fbba3f;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
.credit-score-card {
  border: 2px solid #fbba3f;
  text-align: center;
}

.score-value {
  font-size: 40px;
  font-weight: bold;
  color: var(--accent-color);
}

.transactions-card table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.transactions-card th,
.transactions-card td {
  text-align: left;
  padding: 10px;
}

.status {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.9rem;
  font-weight: 500;
}

.status.paid {
  background-color: #d4f2dd;
  color: #0e594a;
}

.status.pending {
  background-color: #fff2cc;
  color: #c28b00;
}

.status.overdue {
  background-color: #fddede;
  color: #c0392b;
}

.upcoming-item {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  padding: 6px 0;
  border-bottom: 1px solid #eee;
}

h2 {
  color: var(--primary-color);
}
