:root {
  --shadow-color: rgba(0, 0, 0, 0.182);
  --primary-color: #0e594a;
  --hover-color: #0e594a80;
  --accent-color: #fbba3f;
  --bg-color: #f0f0f0f5;
  --input-bg-color: #cedbe97c;
  --white-color: #ffffff;
  --olive: #a3b49c;
  --cool-white: #f9fafb;
}

.footer {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 40px 20px 20px;
  font-family: "Segoe UI", sans-serif;
  margin-top: -280px;
  width: 100%;
  position: relative;
  bottom: 0;

  left: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.footer-brand h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: var(--accent-color);
}

.footer-brand p {
  font-size: 0.95rem;
  color: #f0f0f0;
}

.footer-links h4,
.footer-contact h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--accent-color);
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 8px;
}

.footer-links ul li a {
  color: #eee;
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: var(--accent-color);
}

.footer-contact p {
  font-size: 0.95rem;
  color: #f0f0f0;
  margin-bottom: 6px;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 15px;
  font-size: 0.85rem;
  color: #ccc;
  margin-top: 30px;
}
