:root {
  --shadow-color: rgba(0, 0, 0, 0.1);
  --primary-color: #0e594a;
  --hover-color: #0e594a80;
  --accent-color: #fbba3f;
  --bg-color: #ffffff;
  --input-bg-color: #cedbe97c;
  --white-color: #ffffff;
}

.services-container {
  padding: 60px 40px;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  margin-top: 0px;
}

.services-title {
  font-size: 36px;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.services-container p {
  color: #333;
  font-size: 16px;
  margin: 8px 0;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 50px;
  padding: 0 10px;
  justify-items: center;
}

.service-card {
  background-color: var(--white-color);
  padding: 30px 25px;
  border-radius: 15px;
  box-shadow: 0 4px 10px var(--shadow-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  width: 105%;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 390px;
  border: solid 2px var(--primary-color);
}

.service-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 14px var(--shadow-color);
}

.service-icon {
  color: var(--primary-color);
  margin-bottom: 20px;
}

.service-card h2 {
  font-size: 22px;
  color: #111;
  margin-bottom: 15px;
}

.service-card p {
  font-size: 15px;
  color: #444;
  line-height: 1.5;
}

.wide-card {
  grid-column: span 3;
  max-width: 93%;
  width: 100%;
  margin-left: 40px;
}

@media (min-width: 900px) {
  .services-grid {
    grid-template-columns: repeat(6, 1fr);
    padding: 0;
  }

  .services-grid .service-card:nth-child(1),
  .services-grid .service-card:nth-child(2),
  .services-grid .service-card:nth-child(3) {
    grid-column: span 2;
  }

  .services-grid .wide-card {
    grid-column: span 3;
  }
}

@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .wide-card {
    grid-column: span 1;
  }
}
