/* src/styles/VerificationSuccess.css */
.verification-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.verification-container h1 {
  font-size: 2rem;
  color: #4caf50;
  text-align: center;
}
